/** Author: Artem Sapegin, http://sapegin.me, 2013 */
.social-likes__button_livejournal {
  background: #cadcf3;
  background: -webkit-linear-gradient(top, #fff, #cadcf3);
  background: linear-gradient(top, #fff, #cadcf3);
  color: #5183b4;
  border-color: rgba(182,216,246,0.8);
  border-bottom-color: rgba(131,154,175,0.8);
}
.social-likes__button_livejournal:hover {
  background: #dce2f5;
  background: -webkit-linear-gradient(top, #ecf1f7, #bad2f0);
  background: linear-gradient(top, #ecf1f7, #bad2f0);
  color: #253759;
  border-color: #b7cfe4;
  border-bottom-color: #9caebe;
}
.social-likes__icon_livejournal {
  background-image: url("1b7b547f40fa9680fec8afc5d52eb8cf5f5880b6.png");
  background-position: 2px 2px;
}

.social-likes__button_linkedin {
  background: #e8e8e8;
  background: -webkit-linear-gradient(top, #fff, #e8e8e8);
  background: linear-gradient(top, #fff, #e8e8e8);
  color: #0077b5;
  border-color: rgba(50,100,150,0.8);
  border-bottom-color: rgba(50,100,150,0.8);
}
.social-likes__button_linkedin:hover {
  background: #fff;
  background: -webkit-linear-gradient(top, #fff, #efefef);
  background: linear-gradient(top, #fff, #efefef);
  color: #087c5;
  border-color: #0087c5;
}
.social-likes__icon_linkedin {
  background-image: url("50449de9284008239ee090d6e9afec5400d7cd2e.png");
  background-position: 2px 1px;
}

.social-likes__button_email {
  background: #e8e8e8;
  background: -webkit-linear-gradient(top, #fff, #e8e8e8);
  background: linear-gradient(top, #fff, #e8e8e8);
  color: #373;
  border-color: rgba(100,150,100,0.8);
  border-bottom-color: rgba(50,100,50,0.8);
}
.social-likes__button_email:hover {
  background: #efefef;
  background: -webkit-linear-gradient(top, #fff, #efefef);
  background: linear-gradient(top, #fff, #efefef);
  color: #050;
  border-color: #4a4;
  border-bottom-color: #2a2;
}
.social-likes__icon_email {
  /* Icon from https://www.iconfinder.com/icons/167630/email_icon#size=24
  License: Free Art License */
  background-image: url("55d70d6827021b9f6209a4696a01e2f06db14112.png");
  background-position: 3px 4px;
}